@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  color: #353535;
}

body {
  background: #fafafa;
}

ul {
  padding: 0px;
  margin: 0px;
}

ul li {
  display: inline-block;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:focus, a:hover {
  color: inherit;
}

h1, h2, h3 {
  font-weight: 700;
}

p, span, li, a {
  font-size: 13px;
}

button {
  border: none;
}

body.loading .cargando {
  background-color: #003DA5;
  background-image: url(../img/globo-emoji.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 9999999999999999999;
  display: block;
  color: #fff;
}

.cargando {
  display: none;
}

.mybtn {
  -webkit-transition: all 1s;
  transition: all 1s;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 5px;
  background: #003DA5;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  outline: none;
  border: none;
}

.mybtn.red {
  background-color: #DC1C2E;
}

.mybtn.textual {
  background-color: transparent;
  color: #003DA5;
}

.mybtn.line {
  background-color: transparent;
  border: solid thin #003DA5;
  color: #003DA5;
}

.mybtn.line:hover {
  color: #003DA5;
}

.mybtn.small {
  font-size: 10px;
  padding: 5px 15px;
}

.mybtn:hover, .mybtn:focus {
  color: #fff;
}

.card {
  background: #fff;
  border-radius: 5px;
  padding: 50px;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none;
}

.slick-arrow {
  position: absolute;
  top: 40% !important;
  background-color: transparent;
  width: 40px;
  height: 40px;
  color: transparent;
  z-index: 99;
  background-size: cover;
  overflow: hidden;
}

.slick-next {
  right: 0px;
  background-image: url(../img/next.png);
}

.slick-prev {
  top: 0px;
  background-image: url(../img/prev.png);
}

.slick-dots {
  padding-top: 10px;
  text-align: center;
}

.slick-dots li button {
  display: inline-block;
  height: 4px;
  width: 35px;
  margin: 2px;
  overflow: hidden;
  background: #717EBA;
}

.slick-dots li.slick-active button {
  background: #313962;
}

section {
  padding: 100px 0px;
  position: relative;
}

header {
  background-color: #fff;
  padding: 30px 0px;
}

header a img {
  width: 150px;
  height: auto;
}

header nav ul {
  margin-top: 00px;
}

header nav ul li {
  color: #313962;
  margin: 10px;
}

header nav ul li a {
  color: #313962;
}

#home {
  padding-top: 0px;
  position: relative;
}

#home .slick-slide {
  height: 500px;
  background-color: gainsboro;
  background-size: cover;
  background-position: center;
}

#home #mensaje {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

#home #mensaje h1 {
  color: #fff;
  font-size: 75px;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #000;
}

#home #mensaje .mybtn {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#data small {
  color: #DC1C2E;
}

#data h3 {
  margin-bottom: 50px;
}

#data #stats {
  margin-bottom: 100px;
}

#data #stats .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#data #stats .flex .columna {
  position: relative;
  width: 50px;
  height: 300px;
}

#data #stats .flex .columna .altoOfi {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 30px;
  height: 10px;
  -webkit-transition: all 3s;
  transition: all 3s;
  background-color: #DC1C2E;
  margin: 0 auto;
}

#data #stats .flex .columna .altoOfi .techito {
  width: 40px;
  position: relative;
  top: -25px;
  left: -5px;
}

#data #stats .flex .columna .altoOfi .cantOfi {
  position: absolute;
  top: -50px;
  left: -10px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: 50px;
  text-align: center;
}

#data #stats .flex .columna .anio {
  position: absolute;
  bottom: 5px;
  width: 100%;
  border-top: dotted thin #353535;
}

#data #map {
  cursor: all-scroll;
  height: 500px;
  overflow: auto;
  position: relative;
  text-align: center;
}

#data #map #mapaCompleto {
  position: absolute;
}

#data #map area {
  cursor: pointer;
}

#data .aim {
  background-color: rgba(0, 0, 0, 0.3);
  height: 500px;
  width: 100%;
  margin-left: 12px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

#data .aim .card {
  padding: 15px;
  padding-left: 140px;
  position: absolute;
  width: 340px;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99999;
  height: 150px;
}

#data .aim .card .img {
  position: absolute;
  background-color: #717EBA;
  width: 120px;
  height: 150px;
  top: 0px;
  left: 0px;
}

#data .aim .card .img img {
  width: 120px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-top: -1px;
  border-radius: 5px 0px 0px 5px;
}

#data .aim .card .txt h4 {
  font-size: 14px;
  font-weight: 900;
}

#data .aim .card .txt p {
  font-size: 12px;
}

#data .aim .card .cerrar {
  cursor: pointer;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  padding: 5px 11px;
  border-radius: 20px;
  top: -15px;
  right: -15px;
  text-align: center;
}

#what {
  height: 100vh;
  background-image: url(../img/what.jpg);
  background-size: cover;
  background-position: center;
}

#what .slick-dots {
  text-align: left;
}

#what .quehace h4 {
  font-size: 20px;
  margin: 20px 0px;
}

#form {
  background: #313962;
}

#form #steps {
  color: #fff;
  margin: 7px;
  font-weight: 700;
  font-size: 16px;
}

#form #formTitle {
  color: #fff;
}

#form #fill {
  width: 100%;
  height: 3px;
  background: #717EBA;
  margin: 20px auto;
  margin-left: -15px;
}

#form #fill .filled {
  -webkit-transition: 1s;
  transition: 1s;
  height: inherit;
  background: #fff;
  width: 5%;
}

#form #formwrap {
  width: 700px;
  margin: auto;
}

#form #formwrap .card {
  min-height: 400px;
}

#form label {
  font-size: 11px;
  text-align: left !important;
  color: #003DA5;
  font-weight: 700;
}

#form h4 {
  font-weight: 700;
  font-size: 13px;
}

#form input[type=text], #form input[type=email], #form input[type=number], #form textarea {
  width: 100%;
  border: solid thin #eaeaea;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  outline: none !important;
  padding: 5px 10px;
  font-size: 12px;
  margin-bottom: 20px;
}

#form textarea {
  height: 100px;
}

#form select {
  width: 100%;
  border: none;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  outline: none !important;
  padding: 5px 10px;
  font-size: 12px;
  margin-bottom: 20px;
}

#form #step1 .txt {
  width: 50%;
}

#form #step1 .img {
  border-radius: 0px 5px 5px 0px;
  position: absolute;
  background-image: url(../img/donde.jpg);
  right: 0px;
  top: 0px;
  width: 42%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

#form #step1 .img #cuantasOficinas {
  width: 100%;
  text-align: center !important;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  bottom: 0px;
  padding: 10px;
}

#form #step3 .acuerdo {
  font-weight: 400;
  color: #353535;
}

#testimonials .sliderTestimonials {
  padding: 0px 25px;
}

#testimonials .sliderTestimonials article {
  padding: 25px;
}

#testimonials .sliderTestimonials .slick-prev {
  left: 00px;
}

#testimonials .card {
  position: relative;
  padding: 30px;
  padding-top: 250px;
}

#testimonials .card .img {
  background-color: #eaeaea;
  height: 220px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 5px 5px 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#testimonials .card .img span {
  background-color: #DC1C2E;
  color: #fff;
  display: inline-block;
  padding: 5px;
  font-size: 9px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

#testimonials .card .q {
  font-size: 12px;
  color: #313962;
  font-weight: bold;
  margin: 0px;
}

#testimonials .card .a {
  margin: 0px;
  font-size: 12px;
}

footer {
  padding: 50px 0px;
  font-size: 10px;
  text-align: justify;
}

.xs {
  display: none;
}

.hamb {
  display: none;
  position: absolute;
  top: 30px;
  right: 30px;
}

@media screen and (max-width: 500px) {
  main {
    max-width: 100%;
    overflow-x: hidden;
  }
  section {
    padding: 30px 0px;
  }
  .xs-center {
    text-align: center !important;
  }
  .xs {
    display: inline-block;
  }
  .card {
    padding: 25px;
  }
  .mybtn {
    font-size: 11px;
  }
  header nav {
    display: none;
  }
  #home #mensaje h1 {
    font-size: 47px;
    line-height: 1em;
  }
  #home #mensaje .mybtn {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  #data {
    padding: 30px 10px;
  }
  #data #stats {
    margin-bottom: 30px;
  }
  #data .aim .card {
    width: 82%;
    padding: 30px;
    height: auto;
  }
  #data .aim .card .img {
    display: none;
  }
  #what {
    height: 150vh;
  }
  #what .card {
    margin-top: 350px;
    background-color: rgba(255, 255, 255, 0.9);
  }
  #fill {
    width: 100% !important;
    max-width: 57vw;
  }
  #formwrap {
    width: 100% !important;
  }
  #form #step1 .txt {
    width: 100%;
  }
  #form #step1 .img {
    background-image: none;
    position: absolute;
    width: 100%;
    height: 76px;
    bottom: 0px !important;
    top: auto;
  }
  #form #step1 .img #cuantasOficinas {
    position: static;
    font-size: 12px;
  }
  #form #step3 .container-fluid, #form #step3 .row {
    padding: 0px;
  }
  #testimonials .slick-arrow {
    display: none !important;
  }
  #testimonials .sliderTestimonials article {
    padding: 0px;
    width: 100%;
  }
}

@media screen and (min-width: 501px) and (max-width: 1100px) {
  #map, .aim {
    height: 356px !important;
  }
}

@media screen and (min-width: 1101px) and (max-width: 1400px) {
  #map, .aim {
    height: 426px !important;
  }
}
/*# sourceMappingURL=main.css.map */